.nav-link-hover {
    color: #262B62 !important;
    transition: 0.3s !important;

    &:hover,
    &:focus {
        color: #9b9b9b !important;
    }
}

.dropdown-menu {
    padding: 0 !important;
    border-radius: 0 !important;

    .dropdown-item {
        transition-duration: 0.3s;

        &:hover,
        &:focus {
            background: #fff !important;
            color: #262B62 !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .nav-link-hover {
        color: #fff !important;
        background: #262B62 !important;
        border: 1px solid #262B62 !important; 

        &:hover,
        &:focus {
            background: #fff !important;
            color: #262B62 !important;
        }
    }
}